<h1> views/books/index.html.erb</h1>
<br>
<br>
<br>


<%= @currentTime %>
<br>
<br>
<br>
<%= @bookControllerTestVar %>
<br>
<br>
<br>


<%= "views/books/index.html.erb....I'm an erb test of passing string directly to a page" %>
