<!-- template created after running rails generate controller books.  contains code that will render to localhost/books/index -->

<!-- IMPORTANT:
  ERB syntax(data passed between controller,etc displayed enclosed by):
    <%= ... %>  code will output and display on page
    <% ... %>   silently run in bacground, does not display -->



<h1> books/index.html.erb</h1>
<br>
<br>
<br>


<%= @currentTime %>    <!--inst var created in books controller-->
<br>
<br>
<br>
<%= @book %>
<br>
